* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover {
  color: #0070f3;
}

a:visited,
a:active,
a:focus {
  color: white;
  outline: none;
  box-shadow: none;
}
